doctype
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Switchboard
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    script(src='bower_components/modernizr/modernizr.js')
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.

    .row
      .large-4.columns
        h1 Battery Level
        input(id='batteryLevel')

    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/jquery-knob/js/jquery.knob.js')
    // endbower
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
